@import '@/uni.scss';

/* 全局页面背景色 */
page {
    background-color: $u-bg-1;
    font-size: $up-font-base;
    /* 优化滚动性能 */
    -webkit-overflow-scrolling: touch;
}

.z-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: #fff;

    

    .modal-header {
        padding: 0 20rpx;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100rpx;
        flex-shrink: 0;
        margin-bottom: 0px;
        border-radius: 30rpx 30rpx 0 0;
        // position: absolute;
        // width: 100%;
        // box-sizing: border-box;
        // top: -38px;
    }

    .modal-title {
        font-size: $up-font-lg;
        font-weight: bold;
        color: #333;
    }

    &-no-round {
        .modal-header{
            border-radius:0;
        }
    }

    .close-btn {
        font-size: 50rpx;
        color: #999;
        cursor: pointer;
    }

    .scroll-content {
        margin-bottom: 20rpx;
        flex: 1;
    }

    .modal-body {
        padding: 20rpx;
        // max-height: 800rpx;
        max-height: 70vh;
        margin-bottom: 20rpx;
        // background: var(--bg-1);
        // flex: 1;
        // overflow-y: auto; // 增加了 scroll-view会卡顿
    }

    .modal-footer {
        padding: 15rpx 20rpx;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        gap: 40rpx;
        flex-shrink: 0;
        height: 80rpx;
    }
}

.z-modal-lg {
    width: 650rpx;
    max-height: 100vh;
}

/* 毛玻璃效果 */
.z-glass-card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8rpx);
    border-radius: 14rpx;
    box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);
}

// 顶部导航栏
.z-navbar {
    height: $up-navbar-h;

    .u-navbar__content {
        height: $up-navbar-h !important;
    }

    .u-status-bar {
        display: none;
    }
}


.z-cell-title {
    font-size: $up-font-md;
    font-weight: bold;
    color: $u-main-color;
    padding: $up-box-pd;
    border-bottom: 1rpx solid #f0f0f0;
}
.z-cell-left-icon{
    font-size: 40rpx;
    margin-right: 10rpx;
    width: 52rpx;
    height: 52rpx;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
// 单元格
.u-cell{
    .u-cell__body{
        padding: 24rpx 30rpx!important;
    }
    .u-cell__title-text{
        font-size: $up-font-base!important;
    }
}
.u-subsection{
    height: 72rpx!important;
    background: #fff;
    .u-subsection__item{
        font-size: $up-font-base!important;
    }
}

.u-button {
    &--info{
        background-color: var(--info-6)!important;
        border-color: var(--info-6)!important;
        color: var(--text-1)!important;
    }
}


.z-tips{
    color:var(--text-2);
    font-size: $up-font-sm;
}
// 上传图片
// .u-upload__button {
//     margin: 0 !important;
// }
// .u-upload__wrap__preview {
//     margin: 0 !important;
// }
