@import '@/uni.scss';

/* 全局页面背景色 */
page {
    background-color: $u-bg-1;
    font-size: $up-font-base;
    /* 优化滚动性能 */
    -webkit-overflow-scrolling: touch;
}


.z-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: #fff;

    &-round {
        border-radius: 100rpx;
    }

    .modal-header {
        padding: 0 20rpx;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80rpx;
        flex-shrink: 0;
    }

    .modal-title {
        font-size: $up-font-lg;
        font-weight: bold;
        color: #333;
    }

    .close-btn {
        font-size: 50rpx;
        color: #999;
        cursor: pointer;
    }

    .scroll-content {
        margin-bottom: 20rpx;
        flex: 1;
    }

    .modal-body {
        padding: 20rpx;
        max-height: 800rpx;
        margin-bottom: 20rpx;
        // flex: 1;
        // overflow-y: auto; // 增加了 scroll-view会卡顿

    }

    .modal-footer {
        padding: 15rpx 20rpx;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        gap: 40rpx;
        flex-shrink: 0;
        height: 80rpx;
    }
}

.z-modal-lg {
    width: 650rpx;
    max-height: 70vh;

}

/* 毛玻璃效果 */
.z-glass-card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8rpx);
    border-radius: 14rpx;
    box-shadow: 0 2rpx 4rpx rgba(0, 0, 0, 0.1);
}

// 顶部导航栏
.z-navbar {
    height: $up-navbar-h;

    .u-navbar__content {
        height: $up-navbar-h !important;
    }

    .u-status-bar {
        display: none;
    }
}