/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

// @import 'uview-plus/theme.scss';
@import '@/static/styles/theme.scss';

// $u-main-color: #303133;
$u-main-color: var(--text-1);
$u-content-color: var(--text-2);
$u-tips-color: var(--text-3);
$u-light-color: var(--text-4); // placeholder
$u-border-color: var(--border-1); // 分割线/输入边框
$u-bg-color: var(--bg-2);
$u-disabled-color: var(--text-5);
$u-bg-1: var(--bg-1); // 背景色

$u-primary: var(--primary-6);
$u-primary-dark: var(--primary-5);
$u-primary-disabled: var(--primary-4);
$u-primary-light: var(--primary-3);

$u-warning: var(--warning-6);
$u-warning-dark: var(--warning-5);
$u-warning-disabled: var(--warning-4);
$u-warning-light: var(--warning-3);

$u-success: var(--success-6);
$u-success-dark: var(--success-5);
$u-success-disabled: var(--success-4);
$u-success-light: var(--success-3);

$u-error: var(--danger-6);
$u-error-dark: var(--danger-5);
$u-error-disabled: var(--danger-4);
$u-error-light: var(--danger-3);

$u-info: var(--info-6);
$u-info-dark: var(--info-5);
$u-info-disabled: var(--info-4);
$u-info-light: var(--info-3);


// scss混入，为了少写几行#ifndef
@mixin flex($direction: row) {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: $direction;
}

/* 颜色变量 */
// /* 行为相关颜色 */
// $uni-color-primary: #007aff;
// $uni-color-success: #4cd964;
// $uni-color-warning: #f0ad4e;
// $uni-color-error: #dd524d;

// /* 文字基本颜色 */
// $uni-text-color: #333; // 基本色
// $uni-text-color-inverse: #fff; // 反色
// $uni-text-color-grey: #999; // 辅助灰色，如加载更多的提示信息
// $uni-text-color-placeholder: #808080;
// $uni-text-color-disable: #c0c0c0;

// /* 背景颜色 */
// $uni-bg-color: #fff;
// $uni-bg-color-grey: #f8f8f8;
// $uni-bg-color-hover: #f1f1f1; // 点击状态颜色
// $uni-bg-color-mask: rgba(0, 0, 0, 0.4); // 遮罩颜色

/* 边框颜色 */
// $uni-border-color: #c8c7cc;



/* 文字尺寸 */
$up-font-sm: 24rpx;
$up-font-base: 28rpx; // 750/ 14px
$up-font-md: 32rpx;
$up-font-lg: 36rpx;

/* 图片尺寸 */
$up-img-sm: 40rpx;
$up-img-base: 52rpx;
$up-img-lg: 80rpx;

/* Border Radius */
$up-border-radius-sm: 4rpx;
$up-border-radius-base: 6rpx;
$up-border-radius-lg: 12rpx;
$up-border-radius-circle: 50%;

/* 水平间距 */
$up-spacing-row-sm: 10rpx;
$up-spacing-row-base: 20rpx;
$up-spacing-row-lg: 30rpx;

/* 垂直间距 */
$up-spacing-col-sm: 8rpx;
$up-spacing-col-base: 16rpx;
$up-spacing-col-lg: 24rpx;

/* 透明度 */
$up-opacity-disabled: 0.3;


// 边距盒子外边距 内边距
$up-box-mg: 20rpx;
$up-box-pd: 20rpx;

// 顶部导航栏高度
$up-navbar-h: 44px;

// 底部tab切换
$up-tabbar-h: 50px;


